<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7k_Jv3kNJLLAESu5_jKaxi8kYtv8QjQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>764139092860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berkeozemre.LoginViewDeneme</string>
	<key>PROJECT_ID</key>
	<string>loginregisterdeneme</string>
	<key>STORAGE_BUCKET</key>
	<string>loginregisterdeneme.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764139092860:ios:20a3ad78361beaa57682f9</string>
</dict>
</plist>